<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IT Блог</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon.ico">

    <!-- All css here -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="~/Assets/css/slick.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <script src="~/Assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header Area Start -->
    <header class="top">
        <div class="header-area ptb-18 header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="logo">
                            <a href="index.html"><img src="~/Assets/img/logo/logo.png" alt="COFFEE" /></a>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <div class="content-wrapper">
                            <!-- Main Menu Start -->
                            <div class="main-menu text-right">
                                <nav>
                                    <ul>
                                        <li>@Html.ActionLink("Главная", "Index", "Home", null, null)</li>
                                        <li>@Html.ActionLink("Пользователи", "Index", "Admin", null, null)</li>
                                        <li>@Html.ActionLink("Роли", "Index", "RoleAdmin", null, null)</li>
                                        <li>@Html.ActionLink("Выйти", "Logout", "Authentication", null, null)</li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md"></div>
                            <!-- Main Menu End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/Assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.meanmenu.js"></script>
    <script src="~/Assets/js/ajax-mail.js"></script>
    <script src="~/Assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/js/slick.min.js"></script>
    <script src="~/Assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.js"></script>
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>
</html>