<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body class="container">
    @if (ViewData["IsAuth"] != null && (bool)ViewData["IsAuth"])
    {
        @Html.ActionLink("Личный кабинет", "PersonalAccount", "Authentication", null, new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 50px" })
        @Html.ActionLink("Мои посты", "GetUserPosts", "Blog", null, new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 50px" })
        @Html.ActionLink("Выйти", "Logout", "Authentication", null, new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 50px" })
    }
    <br />
    <div class="container">
        @RenderBody()
    </div>
    <style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }
    </style>
</body>
</html>